@model Warehouse

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Add warehouse</title>
</head>
<body>
    <div class="container">
        <form method="post" asp-controller="Warehouses" asp-action="Update">
            <div asp-validation-summary="ModelOnly"></div>

            <input type="hidden" name="Id" value="@Model.Id" />

            <div>
                <label asp-for="Name"><strong>Name</strong></label><br />
                <input asp-for="Name" class="form-control" placeholder="Name" />
            </div>
            <div>
                <label asp-for="Address"><strong>Address</strong></label><br />
                <input asp-for="Address" class="form-control" placeholder="Address" />
            </div>

            <button class="btn btn-dark" type="submit">Update</button>

        </form>
    </div>
</body>
</html>

<a asp-controller="Plantations" asp-action="All">Cancel</a>
