@{
    ViewData["Title"] = "Home Page";
}

<a asp-controller="Flowers" asp-action="All">Flowers</a> |
<a asp-controller="Plantations" asp-action="All">Plantations</a> |
<a asp-controller="Warehouses" asp-action="All">Warehouses</a> |
<a asp-controller="Supplies" asp-action="All">Supplies</a> 


